section#EnglishAgency {
    display: flex;
    position: relative;
    height: 800px;
    background-color: #f3f3f3;
    background-size: 600px;
    background-size: 10vw, 35vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 93% 50%, 93% 50%;
}

section#EnglishAgency .works-container {
    position: absolute;
    top: 180px;
    width: 40%;
    right: 50%;
    padding: 30px;
    background-color: #fff;
}

section#EnglishAgency .works-container h2 {
    display: flex;
    position: relative;
    padding-left: 42px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 200;
}

section#EnglishAgency .works-container img {
    position: absolute;
    left: 0;
}

section#EnglishAgency .works-specialities span {
    background-color: #3f3f3f;
    color: #ffffff;
}

@media only screen and ( max-width: 1023px ) {

    section#EnglishAgency {
        height: 800px;
        background-position: 92% 15%, 30% 11%;
        background-size: 100px ,300px;
        background-attachment: scroll;
    }

    section#EnglishAgency .works-container {
        top: 240px;
        left: 10px;
        right: 10px;
        width: auto;
    }

}