section#Intro {
    display: flex;
    padding-left: 450px;
    height: 750px;
    flex-direction: row;
}

section#Intro .intro-shortcuts {
    display: flex;
    position: relative;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 30px;
    width: 100%;
}

section#Intro .intro-shortcuts::before {
    position: absolute;
    top: 250px;
    left: -70px;
    height: 200px;
    border-left: 1px solid #ffffff;
    content: "";
}

section#Intro .intro-shortcut-item {
    position: absolute;
    z-index: 6;
    padding: 40px;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

section#Intro .intro-shortcut-item::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: 300ms opacity;
    background-color: rgba(255, 255, 255, 0.1);
    content: "";
}

section#Intro .intro-shortcut-item:hover::before {
    opacity: 1;
}

section#Intro .intro-shortcut-item h4,
section#Intro .intro-shortcut-item h5 {
    margin: 0;
}

section#Intro .intro-shortcut-item h4 {
    font-size: 36px;
    font-weight: 200;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

section#Intro .intro-shortcut-item h5 {
    font-size: 12px;
    font-weight: 500;
}

section#Intro .intro-noper {
    top: 0;
    left: 0;
    background-position-x: left;
    background-position-y: 45%;
    background-size: 140%;
    background-color: #73a0e1;
}

section#Intro .intro-noper h4 {
    font-size: 32px;
    font-weight: 200;
}

section#Intro .intro-noper h5,
section#Intro .intro-about h4 {
    margin-top: 20px;
}

section#Intro .intro-about {
    top: 0;
    left: 50%;
    background-position: center;
}

section#Intro .intro-works {
    top: 50%;
    left: 0;
    background-position: center left;
    background-size: 120%;
    background-color: #c57165;
}

section#Intro .intro-projects {
    top: 50%;
    left: 50%;
}

@media only screen and ( max-width: 1360px ) {

    section#Intro {
        height: 600px;
    }

    section#Intro .intro-shortcut-item {
        padding: 30px;
    }

}

@media only screen and ( max-width: 1023px ) {

    section#Intro {
        position: relative;
        padding-left: 0;
        height: 550px;
    }

    section#Intro .intro-shortcuts {
        display: initial;
        position: absolute;
        bottom: 0;
        margin: 0;
        padding-bottom: 70px;
        padding-left: 60px;
        padding-right: 30px;
        overflow-x: scroll;
        white-space: nowrap;
        vertical-align: top;
    }

    section#Intro .intro-shortcut-item {
        display: inline-block;
        position: relative;
        left: auto;
        top: auto;
        width: 150px;
        height: 100px;
        vertical-align: top;
    }

    section#Intro .intro-shortcut-item + .intro-shortcut-item {
        margin-left: 30px;
    }

    section#Intro .intro-shortcut-item h4 {
        position: absolute;
        bottom: -25px;
        left: 0;
        font-size: 20px;
    }

    section#Intro .intro-shortcut-item h5 {
        position: absolute;
        bottom: -15px;
        left: 0;
        font-size: 10px;
        font-weight: 200;
        color: #ffffff
    }

    section#Intro .intro-noper h4 {
        bottom: -30px;
    }

}