section#Btse {
    display: flex;
    position: relative;
    height: 670px;
    background-color: #f3f3f3;
    background-size: 600px;
    background-size: 30vw, 30vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 36% 50%, 42% 50%;
}

section#Btse .card {
    top: 170px;
    left: 50%;
    right: 10%;
}

section#Btse .card img {
    margin-top: 3px;
}

@media only screen and ( max-width: 1023px ) {

    section#Btse {
        height: 700px;
        background-position: 35%, 70%;
        background-size: 280px;
        background-attachment: scroll;
    }

    section#Btse .card {
        top: 260px;
        left: 10px;
        right: 10px;
        width: auto;
    }

}