#Intro {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #e04747;
}

#Intro h2 {
    position: absolute;
    top: 270px;
    left: 15%;
    font-size: 57px;
    font-weight: 200;
}

#Intro h3 {
    position: absolute;
    top: 390px;
    left: 15%;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
}

#Intro h3 p {
    margin: 0;
}

@media only screen and ( max-width: 1360px ) {

    #Intro h2 {
        top: 230px;
    }

    #Intro h3 {
        top: 350px;
    }

}

@media only screen and ( max-width: 1023px ) {

    #Intro {
        position: absolute;
    }

    #Intro h2 {
        top: 80px;
    }

    #Intro h3 {
        top: 170px;
    }

}