section#About {
    position: relative;
    padding-top: 250px;
    padding-bottom: 100px;
    min-height: 800px;
    background-color: #f3f3f3;
    text-align: center;
}

section#About h2 {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    font-size: 40px;
}

section#About h3 {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-weight: 100;
    font-size: 47px;
}

section#About h4 {
    margin: 0;
    font-weight: 300;
    font-size: 32px;
}

section#About .about-profile {
    display: flex;
    justify-content: center;
}

section#About .about-bio {
    margin: auto;
    width: 560px;
    text-align: left;
    text-align: justify;
}

section#About .about-bio p {
    margin-top: 0;
    margin-bottom: 30px;
}

section#About .about-avatar {
    margin-right: 100px;
    margin-bottom: 80px;
    width: 220px;
    height: 220px;
    background-position: 55% 36%;
    background-size: 130%;
    background-repeat: no-repeat;
}

section#About .about-skills {
    position: relative;
    padding: 20px;
    width: 300px;
    height: 220px;
    background-color: #ccc;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    text-align: left;
}

section#About .about-skills span {
    position: absolute;
    display: inline-block;
    padding: 1px 6px 2px;
    transform: translate(-50%, 50%);
    background-color: #e04747;
    border-radius: 10px;
    white-space: nowrap;
    line-height: initial;
    font-size: 10px;
    color: #ffffff;
}

section#About .about-skills i {
    position: absolute;
    font-size: 14px;
    color: #999;
}

section#About .about-skills i:first-of-type {
    left: -20px;
    top: 72px;
    transform-origin: top left;
    transform: rotateZ(-90deg);
}

section#About .about-skills i:nth-of-type(2) {
    bottom: -17px;
    right: 0;
}