section#Hello {
    display: flex;
    margin-bottom: 600px;
    padding-left: 450px;
    height: 560px;
    flex-direction: row;
    background-color: #e04747;
}

section#Hello .hello-shortcuts {
    display: flex;
    position: relative;
    margin-top: 100px;
    margin-left: 20%;
}

section#Hello .hello-shortcuts::before {
    position: absolute;
    top: 170px;
    left: -70px;
    height: 100px;
    border-left: 1px solid #ffffff;
    content: "";
}

section#Hello .hello-shortcut-item {
    position: absolute;
    z-index: 6;
    padding: 30px;
    width: 300px;
    height: 200px;
    background-position: top left;
    background-size: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

section#Hello .hello-shortcut-item::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: 300ms opacity;
    background-color: rgba(255, 255, 255, 0.1);
    content: "";
}

section#Hello .hello-shortcut-item:hover::before {
    opacity: 1;
}

section#Hello .hello-shortcut-item h4,
section#Hello .hello-shortcut-item h5 {
    margin: 0;
}

section#Hello .hello-shortcut-item h4 {
    font-size: 28px;
    font-weight: 300;
    color: #fff;
}

section#Hello .hello-shortcut-item h5 {
    font-size: 12px;
    font-weight: 500;
}

section#Hello .hello-noper {
    top: 0;
    left: 0;
    background-size: 140%;
}

section#Hello .hello-noper h4 {
    font-size: 32px;
    font-weight: 200;
}

section#Hello .hello-about {
    top: 0;
    left: 330px;
    height: 250px;
    background-position: center;
}

section#Hello .hello-work {
    top: 230px;
    left: 0;
    height: 270px;
    background-position: top left;
    background-size: 120%;
}

section#Hello .hello-projects {
    top: 280px;
    left: 330px;
    height: 270px;
}

@media only screen and ( max-width: 1360px ) {

    section#Hello {
        padding-left: 400px;
        height: 450px;
    }

    section#Hello .hello-shortcut-item {
        padding: 20px;
        width: 220px;
        height: 190px;
    }

    section#Hello .hello-shortcut-item h4 {
        font-size: 20px
    }

    section#Hello .hello-shortcut-item h5 {
        font-size: 10px
    }

    section#Hello .hello-noper {
        height: 140px;
    }

    section#Hello .hello-about {
        left: 250px;
    }

    section#Hello .hello-work {
        top: 170px;
    }

    section#Hello .hello-projects {
        top: 210px;
        left: 250px;
    }

}