section#Hello {
    display: flex;
    padding-left: 450px;
    height: 750px;
    flex-direction: row;
}

section#Hello .hello-shortcuts {
    display: flex;
    position: relative;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 30px;
    width: 100%;
}

section#Hello .hello-shortcuts::before {
    position: absolute;
    top: 250px;
    left: -70px;
    height: 200px;
    border-left: 1px solid #ffffff;
    content: "";
}

section#Hello .hello-shortcut-item {
    position: absolute;
    z-index: 6;
    padding: 40px;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

section#Hello .hello-shortcut-item::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0;
    transition: 300ms opacity;
    background-color: rgba(255, 255, 255, 0.1);
    content: "";
}

section#Hello .hello-shortcut-item:hover::before {
    opacity: 1;
}

section#Hello .hello-shortcut-item h4,
section#Hello .hello-shortcut-item h5 {
    margin: 0;
}

section#Hello .hello-shortcut-item h4 {
    font-size: 36px;
    font-weight: 200;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
}

section#Hello .hello-shortcut-item h5 {
    font-size: 12px;
    font-weight: 500;
}

section#Hello .hello-noper {
    top: 0;
    left: 0;
    background-position-x: left;
    background-position-y: 45%;
    background-size: 140%;
    background-color: #73a0e1;
}

section#Hello .hello-noper h4 {
    font-size: 32px;
    font-weight: 200;
}

section#Hello .hello-noper h5,
section#Hello .hello-about h4 {
    margin-top: 20px;
}

section#Hello .hello-about {
    top: 0;
    left: 50%;
    background-position: center;
}

section#Hello .hello-work {
    top: 50%;
    left: 0;
    background-position: center left;
    background-size: 120%;
    background-color: #c57165;
}

section#Hello .hello-projects {
    top: 50%;
    left: 50%;
}

@media only screen and ( max-width: 1360px ) {

    section#Hello {
        height: 600px;
    }

    section#Hello .hello-shortcut-item {
        padding: 30px;
    }

}