#Navigator {
    position: absolute;
    top: 560px;
    bottom: 0;
    /*width: 200px;*/
    width: 300px;
    background-color: #ffffff;
    z-index: 6;
}

#Navigator nav {
    position: fixed;
    bottom: 150px;
    left: 100px;
    width: 200px;
}

#Navigator a {
    display: block;
    visibility: hidden;
    padding: 10px;
    padding-right: 70px;
    width: 100%;
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    transition-duration: 300ms;
    transition-property: color;
    color: #777;
}

#Navigator a:hover {
    color: #3a3a3a;
}

#Navigator.navmode a {
    animation: nav-items-visible 300ms linear;
    visibility: visible;
    opacity: 1;
}

@keyframes nav-items-visible {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes nav-items-hidden {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@media only screen and ( max-width: 1360px ) {

    #Navigator {
        top: 450px;
    }
}
