#Navigator {
    position: absolute;
    top: 750px;
    bottom: 0;
    /*width: 200px;*/
    width: 300px;
    background-color: #ffffff;
    z-index: 6;
}

#Navigator nav {
    position: fixed;
    bottom: 150px;
    left: 100px;
    width: 200px;
}

#Navigator nav a {
    display: block;
    visibility: hidden;
    padding: 10px;
    padding-right: 70px;
    width: 100%;
    text-align: right;
    font-size: 20px;
    font-weight: 300;
    transition-duration: 300ms;
    transition-property: color;
    color: #777;
}

#Navigator nav a:hover {
    color: #3a3a3a;
}

#Navigator.navmode nav a {
    animation: nav-items-visible 300ms linear;
    visibility: visible;
    opacity: 1;
}

#Navigator p {
    display: flex;
    position: fixed;
    bottom: 70px;
    left: 100px;
    flex-direction: row;
}

#Navigator p a {
    font-size: 12px;
    color: #aaaaaa;
}

#Navigator p a + a {
    margin-left: 7px;
}

@keyframes nav-items-visible {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes nav-items-hidden {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@media only screen and ( max-width: 1600px ) {

    #Navigator {
    }
}


@media only screen and ( max-width: 1360px ) {

    #Navigator {
        top: 600px;
    }

}
