nav#Navigator {
    position: fixed;
    top: 250px;
    left: 100px;
    width: 200px;
    z-index: 6;
}

nav#Navigator a {
    display: block;
    visibility: hidden;
    padding: 10px;
    padding-right: 70px;
    width: 100%;
    text-align: right;
    font-size: 20px;
    transition-duration: 300ms;
    transition-property: color;
}

nav#Navigator a:hover {
    color: #777;
}

nav#Navigator.navmode a {
    animation: nav-items-visible 300ms linear;
    visibility: visible;
    opacity: 1;
}

@keyframes nav-items-visible {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes nav-items-hidden {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}