section#Noper {
    display: flex;
    position: relative;
    height: 600px;
    background-color: #009ecc;
    background-size: 600px;
    background-size: 16vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 55% 50%, 40% 30%;
}

section#Noper .work-container {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 45%;
    padding: 30px;
    background-color: #fff;
}

section#Noper .work-container h2 {
    display: flex;
    position: relative;
    padding-left: 42px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 200;
}

section#Noper .work-container img {
    position: absolute;
    left: 0;
}

section#Noper .work-container span {
    margin-top: -3px;
}

section#Noper .work-specialities span {
    background-color: #009ecc;
    color: #ffffff;
}

section#Noper .work-explain {
    margin-top: 30px;
}

section#Noper .work-preview {
    top: 50%;
    right: 50%;
}

section#Noper .work-preview img:first-of-type {
    top: -190px;
    left: -470px;
    /*margin-left: 20%;*/
}

section#Noper .work-preview img:nth-of-type(2) {
    top: -190px;
    left: -250px;
}