section#Noper {
    display: flex;
    position: relative;
    height: 800px;
    background-color: #009ecc;
    background-size: 600px;
    background-size: 14vw;
    background-size: calc( 200px + 4vw );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 52% 50%, 38% 30%;
}

section#Noper .work-container {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 45%;
    padding: 30px;
    background-color: #fff;
}

section#Noper .work-container h2 {
    display: flex;
    position: relative;
    padding-left: 42px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 200;
}

section#Noper .work-container img {
    position: absolute;
    left: 0;
}

section#Noper .work-container span {
    margin-top: -3px;
}

section#Noper .work-specialities span {
    background-color: #009ecc;
    color: #ffffff;
}

section#Noper .work-explain {
    margin-top: 30px;
}