section#Showhi {
    display: flex;
    position: relative;
    height: 600px;
    background-color: #e04747;
    background-size: 600px;
    background-size: 40vw;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 55% 50%;
}

section#Showhi .work-container {
    position: absolute;
    top: 200px;
    left: 50%;
    right: 10%;
    padding: 30px;
    background-color: #ffffff;
}

section#Showhi .work-container h2 {
    display: flex;
    position: relative;
    margin-top: 0;
    padding-left: 28px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 200;
}

section#Showhi .work-container img {
    position: absolute;
    left: 0;
    margin-top: 3px;
}

section#Showhi .work-specialities span {
    background-color: #e04747;
    color: #ffffff;
}

section#Showhi .work-explain {
    margin-top: 30px;
}

section#Showhi .work-preview {
    top: 50%;
    right: 50%;
}

section#Showhi .work-preview img:first-of-type {
    top: -150px;
    left: -570px;
}
