section#Work {
    /*position: absolute;*/
    /*left: 0;*/
    /*right: 0;*/
    padding: 120px 70px 40px;
    height: 400px;
    background-color: #f3f3f3;
    margin-top: -400px;
    /*z-index: 5;*/
    text-align: center;
}

section#Work h2 {
    font-size: 40px;
}


section#Work p {
    margin: auto;
    width: 600px;
}

.work-preview {
    position: absolute;
}

.work-preview img {
    position: absolute;
}

.work-container {

}

.work-specialities {
}

.work-specialities span {
    display: inline-block;
    margin-right: 7px;
    padding: 1px 10px 2px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 10px;
}

.work-explain {
    font-size: 14px;
    margin-top: 30px;
}

#App > section:not(#Hello) {
    border-left: 300px solid #ffffff;
}